<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Lecture Summarizer</title>
  </head>
  <body>
    <form id="forms" action="/transcript" method="post">
  <div class="form-group" style="margin: 225px 50px 50px 100px;width:80%;text-align:left">
    <label for="videobar" style="text-align: center">Video Summarizer</label>
    <input type="search" name="link" class="form-control" id="videobar" placeholder="Enter video to summarize it">
    <!--<small id="emailHelp" class="form-text text-muted"></small>-->
  </div>
  <div class="d-flex justify-content-start">
  <div class="form-group" style="margin: -25px 50px 50px 100px;width:30%;text-align:left">
    <label for="propbar" style="text-align: center">Lecture Proportion</label>
    <input type="search" name="proportion" class="form-control" id="propbar" placeholder="Pick a value from 0.33 to 1.0">
    <!--<small id="emailHelp" class="form-text text-muted"></small>-->
  </div>
    <!--<div class="form-group" style="margin:0px 50px 50px 100px; width:80%;text-align:left">-->
    <!--&lt;!&ndash;<label for="exampleInputEmail1" style="text-align: center">Video Summarizer</label>&ndash;&gt;-->
    <!--<input type="search" name="cookies" class="form-control" id="exampleInputEmail2"  placeholder="Cookies Text File name">-->
    <!--&lt;!&ndash;<small id="emailHelp" class="form-text text-muted"></small>&ndash;&gt;-->
  <!--</div>-->
        <!--<div class="form-group" style="margin: 0px 50px 50px 100px;width:80%;text-align:left">-->
    <!--&lt;!&ndash;<label for="exampleInputEmail1" style="text-align: center">Video Summarizer</label>&ndash;&gt;-->
    <!--<input type="search" name="download_video" class="form-control" id="exampleInputEmail3" placeholder="Download Video? y/n">-->
    <!--&lt;!&ndash;<small id="emailHelp" class="form-text text-muted"></small>&ndash;&gt;-->
  <!--</div>-->
        <!--<div class="form-group" style="margin: 0px 50px 50px 100px;width:80%;text-align:left">-->
    <!--&lt;!&ndash;<label for="exampleInputEmail1" style="text-align: center">Video Summarizer</label>&ndash;&gt;-->
    <!--<input type="search" name="download_audio" class="form-control" id="exampleInputEmail4" placeholder="Download Audio? y/n">-->
    <!--&lt;!&ndash;<small id="emailHelp" class="form-text text-muted"></small>&ndash;&gt;-->
  <!--</div>-->
        <button type="submit" class="btn btn-outline-dark btn-lg" style="margin:0px 50px 50px 100px;"><a href="{{ url_for('transcript') }}"></a>Submit!</button>
    </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>